<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <th:block th:include="fragment :: head"></th:block>
    <title>GREPLFA</title>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main class="d-flex flex-column justify-content-center w-100 container mt-1">
    <div class="d-flex flex-row-reverse justify-content-between align-items-center w-100 mt-1 mb-3">
        <div class="d-flex flex-row">
            <a class="btn btn-primary mr-2" th:href="@{/iot/widget/device/new/create}">장치 위젯 추가</a>
            <a class="btn btn-primary mr-2" th:href="@{/iot/widget/part/new/create}">파츠 위젯 추가</a>
            <a class="btn btn-primary" th:href="@{/iot/widget/history/new/create}">기록 위젯 추가</a>
        </div>
    </div>
    <div id="root"></div>
</main>
<footer th:replace="fragment :: footer"></footer>
<script src="/js/bundle.js"></script>
</body>
</html>
